.password-window .bottom-wrapper {
    justify-content: space-between;
    align-items: center;
}

.password-window a {
    color: blueviolet;
}

.password-window form {
    width: 100%;
    max-width: 545px;
}