.bag-window-title {
    display: grid;
    font-weight: 500;
    padding-bottom: 20px;
    justify-items: center;
}

.bag-list {
    padding-bottom: 20px;
    width: 100%;
}

.content-bag, .bag-window-title{
    width: 100%;
    max-width: 545px;
}

.bag .bottom-wrapper {
    justify-content: space-between;
    align-items: center;
}

.bag-message a{
    color: blueviolet;
}

.bag {
    padding-top: 30px;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .bag-window-title {
        font-size: 14px;
    }
}