.suggestions-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.suggestion-item {
    margin-right: 10px;
}

.suggestion-item-image {
    width: 150px;
    height: 160px;
    border-radius: 5px;
    margin: 5px;
    object-fit: cover;
}

.suggestion-item-title {
    width: 100%;
    text-align: center;
}

.suggestions {
    padding-top: 30px;
}

.suggestions-title {
    font-weight: bold;
}