{% load yandex_metrica %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/media/common/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta
            name="description"
            content="Бренд HRSMNT рассматривает одежду не с потребительской точки зрения, а с точки зрения самопознания и самовыражения."
    />
    <link rel="apple-touch-icon" href="/media/common/logo192.png"/>
    <link rel="manifest" href="/media/common/manifest.json"/>
    <title>HRSMNT</title>
    {% yandex_metrica %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175817597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-175817597-1');
    </script>
</head>
<body>
<noscript>Похоже, у вас выключен javascript. Он необходим для работы приложения</noscript>
<div id="root"></div>
{% load static %}
<div id="payment"></div>
<div id="message"></div>
<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>
