<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Спасибо за заказ!</h2>
<p>Номер заказа: {{ order.id }}</p>
<p>Cпособ доставки: {% if order.delivery_type == 'm' %}У станции метро Киевская{% elif order.delivery_type == 'c' %}Курьером{% elif order.delivery_type == 'p' %}Почтой России{% endif %}</p>
<p>Ваш телефон: {{ order.tel }}</p>
<p>Способ оплаты: {% if order.pay_way == 'card' %}Безналичный расчет{% else %}Наличными{% endif %}</p>
{% if order.pay_way == 'card' %}
    <p>Заказ ожидает оплаты</p>
    <p>Если процесс оплаты прошел неуспешно, можете оплатить <a href="https://hrsmnt.ru/#/pay-order/{{ order.id }}" style="color: blueviolet">здесь</a> в течении часа</p>
{% endif %}
{% if order.delivery_type != 'm' %}
    <p>Адрес: {{ order.address }}</p>
{% endif %}
{% if order.delivery_type == 'p' %}
    <p>Почтовый индекс: {{ order.postal_code }}</p>
    <p>Имя: {{ order.first_name }}</p>
    <p>Фамилия: {{ order.second_name }}</p>
    <p>Отчество: {{ order.patronymic }}</p>
{% endif %}
<p>Ваш заказ:</p>
<div>
 <p><b>Товар Размер Цена</b></p>
    {% for item in items %}
        <p>{{ item.item.title }}  {{ item.size.title }}  {{ item.item.price }}</p>
    {% endfor %}
</div>
<p><b>Итого: {{ order.total_price }} р</b></p>
<p>Мы с Вами свяжемся, чтобы уточнить детали заказа</p>
<p>Если есть вопросы или Вы указали что-то не так, то пишите на <a href="mailto:hrsmnt@hrsmnt.ru">hrsmnt@hrsmnt.ru</a> или звоните на <a href="tel:89160373733">+7 916 037-37-33</a></p>
<p>Спасибо от команды HRSMNT!</p>
<p>Хорошего Вам настроения!</p>
</body>
</html>